/* TODO 公共css*/

a {
    color: #1f1e1e;
}

a:hover {
    color: #b260ce!important;
    text-decoration: none;
}

/* notes css */
.notes-list {
    width: 100%;
    background-color: #f5e5c7;
    margin-bottom: 1.4rem;
}

.notes-list .notes-shadow {
    box-shadow: 0px 5px 5px 3px #ddd;
}

.notes-list .notes-shadow .notes-content {
    padding: 1.4rem 1.4rem;
    border-bottom: 1px solid #ddd;
}

.notes-list .notes-shadow .notes-content a {
    font-size: 1.7rem;
    color: #1f1e1e;
    font-weight: 100;
}

.notes-list .notes-shadow .notes-footer {
    padding: 1.4rem 1.4rem;
}

.notes-list .notes-shadow .notes-footer span {
    color: #847575;
}

.notes-list .notes-shadow .notes-footer span a {
    text-decoration: none;
    color: #00bcd4;
}

/*右部挂件 - 热门文章 | 热门推荐 |  最新评论 | 友情链接*/
.right-pendant {
    width: 100%;
    margin-bottom: 1.4rem;
    box-shadow: 0 2px 5px 3px #ddd;
}

.right-pendant .right-pendant-title {
    padding: 1.4rem 1.4rem;
    border-bottom: 1px solid #ddd;
}

.right-pendant .right-pendant-title .title {
    margin: 0!important;
    font-size: 1rem;
    font-weight: bold;
    color: #5a5050;
}

.right-pendant .right-pendant-content {
    /*padding: 1.4rem 1.4rem;*/
}

.right-pendant .right-pendant-content ul {
    padding: 0;
    list-style: none;
}

.right-pendant .right-pendant-content ul li {
    line-height: 2rem;
    padding: .7rem 1.4rem;
    border-bottom: 1px dotted #ddd;
}


/* 更多随笔 */
.essay-more {
    margin-bottom: 2rem;
}


/* 网站底部 */
.footer {
    background-color: #333;
    padding: 1.5rem;
}

.footer .copyright {
    font-size: 14px;
    text-align: center;
    margin-bottom: 0;
}


/*回到顶部*/
.back-to-top {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 2.2rem;
    height: 2.2rem;
    padding: 0.7rem;
    background-color: #68c3ec;
    font-size: 22px;
    line-height: .5;
    border-radius: 3px;
}
.back-to-top:after {
    font-family: FontAwesome;
    color: #fff;
    text-align: center;
    content: "\f106"
}